@CHARSET "ISO-8859-1";
a.first
{
	color:rgb(102,255,102);
	
}
body{
	background-color:rgb(153,204,255);
}
.button{
	 background-color: #4CAF50;
	color: white;
	 text-align: center;
	  font-size: 16px;
	 
	 
}